@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

<<<<<<< HEAD
=======
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

>>>>>>> origin/main
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
<<<<<<< HEAD
  font-family: var(--font-geist-sans); /* Use the Geist Sans variable from layout.tsx */
=======
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> origin/main
}
